:root {

/* Colors: */
--unnamed-color-805ad5: #805AD5;
--unnamed-color-6b46c1: #6B46C1;
--unnamed-color-553c9a: #553C9A;
--unnamed-color-44337a: #44337A;
--unnamed-color-702459: #702459;
--unnamed-color-97266d: #97266D;
--unnamed-color-b83280: #B83280;
--unnamed-color-d53f8c: #D53F8C;
--unnamed-color-ed64a6: #ED64A6;
--unnamed-color-f687b3: #F687B3;
--unnamed-color-fbb6ce: #FBB6CE;
--unnamed-color-fed7e2: #FED7E2;
--unnamed-color-fff5f7: #FFF5F7;
--unnamed-color-276749: #276749;
--unnamed-color-22543d: #22543D;
--unnamed-color-234e52: #234E52;
--unnamed-color-285e61: #285E61;
--unnamed-color-2c7a7b: #2C7A7B;
--unnamed-color-319795: #319795;
--unnamed-color-38b2ac: #38B2AC;
--unnamed-color-4fd1c5: #4FD1C5;
--unnamed-color-81e6d9: #81E6D9;
--unnamed-color-b2f5ea: #B2F5EA;
--unnamed-color-e6fffa: #E6FFFA;
--unnamed-color-ebf8ff: #EBF8FF;
--unnamed-color-bee3f8: #BEE3F8;
--unnamed-color-90cdf4: #90CDF4;
--unnamed-color-63b3ed: #63B3ED;
--unnamed-color-4299e1: #4299E1;
--unnamed-color-3182ce: #3182CE;
--unnamed-color-2b6cb0: #2B6CB0;
--unnamed-color-2c5282: #2C5282;
--unnamed-color-2a4365: #2A4365;
--unnamed-color-3c366b: #3C366B;
--unnamed-color-434190: #434190;
--unnamed-color-4c51bf: #4C51BF;
--unnamed-color-5a67d8: #5A67D8;
--unnamed-color-7f9cf5: #7F9CF5;
--unnamed-color-667eea: #667EEA;
--unnamed-color-a3bffa: #A3BFFA;
--unnamed-color-c3dafe: #C3DAFE;
--unnamed-color-ebf4ff: #EBF4FF;
--unnamed-color-faf5ff: #FAF5FF;
--unnamed-color-e9d8fd: #E9D8FD;
--unnamed-color-d6bcfa: #D6BCFA;
--unnamed-color-b794f4: #B794F4;
--unnamed-color-9f7aea: #9F7AEA;
--unnamed-color-f0fff4: #F0FFF4;
--unnamed-color-c6f6d5: #C6F6D5;
--unnamed-color-9ae6b4: #9AE6B4;
--unnamed-color-68d391: #68D391;
--unnamed-color-48bb78: #48BB78;
--unnamed-color-38a169: #38A169;
--unnamed-color-2f855a: #2F855A;
--unnamed-color-fffff0: #FFFFF0;
--unnamed-color-fefcbf: #FEFCBF;
--unnamed-color-faf089: #FAF089;
--unnamed-color-f6e05e: #F6E05E;
--unnamed-color-ecc94b: #ECC94B;
--unnamed-color-d69e2e: #D69E2E;
--unnamed-color-b7791f: #B7791F;
--unnamed-color-975a16: #975A16;
--unnamed-color-744210: #744210;
--unnamed-color-fffaf0: #FFFAF0;
--unnamed-color-feebc8: #FEEBC8;
--unnamed-color-fbd38d: #FBD38D;
--unnamed-color-f6ad55: #F6AD55;
--unnamed-color-ed8936: #ED8936;
--unnamed-color-dd6b20: #DD6B20;
--unnamed-color-c05621: #C05621;
--unnamed-color-9c4221: #9C4221;
--unnamed-color-7b341e: #7B341E;
--unnamed-color-fff5f5: #FFF5F5;
--unnamed-color-fed7d7: #FED7D7;
--unnamed-color-feb2b2: #FEB2B2;
--unnamed-color-fc8181: #FC8181;
--unnamed-color-f56565: #F56565;
--unnamed-color-e53e3e: #E53E3E;
--unnamed-color-c53030: #C53030;
--unnamed-color-9b2c2c: #9B2C2C;
--unnamed-color-742a2a: #742A2A;
--unnamed-color-e2e8f0: #E2E8F0;
--unnamed-color-cbd5e0: #CBD5E0;
--unnamed-color-a0aec0: #A0AEC0;
--unnamed-color-718096: #718096;
--unnamed-color-4a5568: #4A5568;
--unnamed-color-2d3748: #2D3748;
--unnamed-color-1a202c: #1A202C;
--unnamed-color-f7fafc: #F7FAFC;
--unnamed-color-edf2f7: #EDF2F7;

/* Font/text values */
--unnamed-font-family-lato: Lato;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-300: 300px;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-16: 16px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-28-829999923706055: 28.829999923706055px;
--unnamed-font-size-25-6299991607666: 25.6299991607666px;
--unnamed-font-size-22-780000686645508: 22.780000686645508px;
--unnamed-font-size-20-25: 20.25px;
--unnamed-font-size-14-220000267028809: 14.220000267028809px;
--unnamed-font-size-12-640000343322754: 12.640000343322754px;
--unnamed-character-spacing-0-96: 0.96px;
--unnamed-character-spacing-1-08: 1.08px;
--unnamed-character-spacing-1-73: 1.73px;
--unnamed-character-spacing-1-54: 1.54px;
--unnamed-character-spacing-1-37: 1.37px;
--unnamed-character-spacing-1-22: 1.22px;
--unnamed-character-spacing-0-85: 0.85px;
--unnamed-character-spacing-0-76: 0.76px;
--unnamed-line-spacing-22-399999618530273: 22.399999618530273px;
--unnamed-line-spacing-23-399999618530273: 23.399999618530273px;
--unnamed-line-spacing-37-47999954223633: 37.47999954223633px;
--unnamed-line-spacing-33-319000244140625: 33.319000244140625px;
--unnamed-line-spacing-29-61400032043457: 29.61400032043457px;
--unnamed-line-spacing-26-325000762939453: 26.325000762939453px;
--unnamed-line-spacing-18-486000061035156: 18.486000061035156px;
--unnamed-line-spacing-16-43199920654297: 16.43199920654297px;
}

/* Character Styles */
.heading-1-light {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-28-829999923706055);
line-height: var(--unnamed-line-spacing-37-47999954223633);
letter-spacing: var(--unnamed-character-spacing-1-73);
color: var(--unnamed-color-fffffe);
}
.heading-1-regular {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-28-829999923706055);
line-height: var(--unnamed-line-spacing-37-47999954223633);
letter-spacing: var(--unnamed-character-spacing-1-73);
color: var(--unnamed-color-fffffe);
}
.heading-1-bold {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-28-829999923706055);
line-height: var(--unnamed-line-spacing-37-47999954223633);
letter-spacing: var(--unnamed-character-spacing-1-73);
color: var(--unnamed-color-fffffe);
}
.heading-2-light {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-25-6299991607666);
line-height: var(--unnamed-line-spacing-33-319000244140625);
letter-spacing: var(--unnamed-character-spacing-1-54);
color: var(--unnamed-color-fffffe);
}
.heading-2-regular {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-25-6299991607666);
line-height: var(--unnamed-line-spacing-33-319000244140625);
letter-spacing: var(--unnamed-character-spacing-1-54);
color: var(--unnamed-color-fffffe);
}
.heading-2-bold {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-25-6299991607666);
line-height: var(--unnamed-line-spacing-33-319000244140625);
letter-spacing: var(--unnamed-character-spacing-1-54);
color: var(--unnamed-color-fffffe);
}
.heading-3-light {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-22-780000686645508);
line-height: var(--unnamed-line-spacing-29-61400032043457);
letter-spacing: var(--unnamed-character-spacing-1-37);
color: var(--unnamed-color-fffffe);
}
.heading-3-regular {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-22-780000686645508);
line-height: var(--unnamed-line-spacing-29-61400032043457);
letter-spacing: var(--unnamed-character-spacing-1-37);
color: var(--unnamed-color-fffffe);
}
.heading-3-bold {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-22-780000686645508);
line-height: var(--unnamed-line-spacing-29-61400032043457);
letter-spacing: var(--unnamed-character-spacing-1-37);
color: var(--unnamed-color-fffffe);
}
.heading-4-light {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-20-25);
line-height: var(--unnamed-line-spacing-26-325000762939453);
letter-spacing: var(--unnamed-character-spacing-1-22);
color: var(--unnamed-color-fffffe);
}
.heading-4-regular {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-20-25);
line-height: var(--unnamed-line-spacing-26-325000762939453);
letter-spacing: var(--unnamed-character-spacing-1-22);
color: var(--unnamed-color-fffffe);
}
.heading-4-bold {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-20-25);
line-height: var(--unnamed-line-spacing-26-325000762939453);
letter-spacing: var(--unnamed-character-spacing-1-22);
color: var(--unnamed-color-fffffe);
}
.heading-5-light {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-23-399999618530273);
letter-spacing: var(--unnamed-character-spacing-1-08);
color: var(--unnamed-color-fffffe);
}
.heading-5-regular {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-23-399999618530273);
letter-spacing: var(--unnamed-character-spacing-1-08);
color: var(--unnamed-color-fffffe);
}
.heading-5-bold {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-23-399999618530273);
letter-spacing: var(--unnamed-character-spacing-1-08);
color: var(--unnamed-color-fffffe);
}
.paragraph-light {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-22-399999618530273);
letter-spacing: var(--unnamed-character-spacing-0-96);
color: var(--unnamed-color-fffffe);
}
.paragraph-regular {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-22-399999618530273);
letter-spacing: var(--unnamed-character-spacing-0-96);
color: var(--unnamed-color-fffffe);
}
.paragraph-bold {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-22-399999618530273);
letter-spacing: var(--unnamed-character-spacing-0-96);
color: var(--unnamed-color-fffffe);
}
.small-light {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-14-220000267028809);
line-height: var(--unnamed-line-spacing-18-486000061035156);
letter-spacing: var(--unnamed-character-spacing-0-85);
color: var(--unnamed-color-fffffe);
}
.small-regular {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14-220000267028809);
line-height: var(--unnamed-line-spacing-18-486000061035156);
letter-spacing: var(--unnamed-character-spacing-0-85);
color: var(--unnamed-color-fffffe);
}
.small-bold {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-14-220000267028809);
line-height: var(--unnamed-line-spacing-18-486000061035156);
letter-spacing: var(--unnamed-character-spacing-0-85);
color: var(--unnamed-color-fffffe);
}
.tiny-light {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-12-640000343322754);
line-height: var(--unnamed-line-spacing-16-43199920654297);
letter-spacing: var(--unnamed-character-spacing-0-76);
color: var(--unnamed-color-fffffe);
}
.tiny-regular {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-12-640000343322754);
line-height: var(--unnamed-line-spacing-16-43199920654297);
letter-spacing: var(--unnamed-character-spacing-0-76);
color: var(--unnamed-color-fffffe);
}
.tiny-bold {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-12-640000343322754);
line-height: var(--unnamed-line-spacing-16-43199920654297);
letter-spacing: var(--unnamed-character-spacing-0-76);
color: var(--unnamed-color-fffffe);
}