.color-palatte {
    margin-top: 64px;
    margin-bottom: 100px;
    color: $white;
    &-title {
        color: $white;
        font-size: $fontSize128;
        font-weight: $fontWeightBold;
    }
    .color-model {
        display: grid;
        grid-template-columns: repeat(9, auto);
        grid-gap: 60px 0px;
        margin: 80px 0;
        .color {
            .color-fill {
                width: 111px;
                height: 90px;
            }
            .color-name {
                padding: 10px;
                font-size: $fontSize12;
                font-family: $familyLato;
            }
        }
        .ff-arial {
            font-family: $familyArial;
        }
        .gray-1 {
            .color-fill {
                background-color: $gray100;
            }
        }
        .gray-2 {
            .color-fill {
                background-color: $gray200;
            }
        }
        .gray-3 {
            .color-fill {
                background-color: $gray300;
            }
        }
        .gray-4 {
            .color-fill {
                background-color: $gray400;
            }
        }
        .gray-5 {
            .color-fill {
                background-color: $gray500;
            }
        }
        .gray-6 {
            .color-fill {
                background-color: $gray600;
            }
        }
        .gray-7 {
            .color-fill {
                background-color: $gray700;
            }
        }
        .gray-8 {
            .color-fill {
                background-color: $gray800;
            }
        }
        .gray-9 {
            .color-fill {
                background-color: $gray900;
            }
        }


        .red-1 {
            .color-fill {
                background-color: $red100;
            }
        }
        .red-2 {
            .color-fill {
                background-color: $red200;
            }
        }
        .red-3 {
            .color-fill {
                background-color: $red300;
            }
        }
        .red-4 {
            .color-fill {
                background-color: $red400;
            }
        }
        .red-5 {
            .color-fill {
                background-color: $red500;
            }
        }
        .red-6 {
            .color-fill {
                background-color: $red600;
            }
        }
        .red-7 {
            .color-fill {
                background-color: $red700;
            }
        }
        .red-8 {
            .color-fill {
                background-color: $red800;
            }
        }
        .red-9 {
            .color-fill {
                background-color: $red900;
            }
        }


        .orange-1 {
            .color-fill {
                background-color: $orange100;
            }
        }
        .orange-2 {
            .color-fill {
                background-color: $orange200;
            }
        }
        .orange-3 {
            .color-fill {
                background-color: $orange300;
            }
        }
        .orange-4 {
            .color-fill {
                background-color: $orange400;
            }
        }
        .orange-5 {
            .color-fill {
                background-color: $orange500;
            }
        }
        .orange-6 {
            .color-fill {
                background-color: $orange600;
            }
        }
        .orange-7 {
            .color-fill {
                background-color: $orange700;
            }
        }
        .orange-8 {
            .color-fill {
                background-color: $orange800;
            }
        }
        .orange-9 {
            .color-fill {
                background-color: $orange900;
            }
        }
        

        .yellow-1 {
            .color-fill {
                background-color: $yellow100;
            }
        }
        .yellow-2 {
            .color-fill {
                background-color: $yellow200;
            }
        }
        .yellow-3 {
            .color-fill {
                background-color: $yellow300;
            }
        }
        .yellow-4 {
            .color-fill {
                background-color: $yellow400;
            }
        }
        .yellow-5 {
            .color-fill {
                background-color: $yellow500;
            }
        }
        .yellow-6 {
            .color-fill {
                background-color: $yellow600;
            }
        }
        .yellow-7 {
            .color-fill {
                background-color: $yellow700;
            }
        }
        .yellow-8 {
            .color-fill {
                background-color: $yellow800;
            }
        }
        .yellow-9 {
            .color-fill {
                background-color: $yellow900;
            }
        }


        .green-1 {
            .color-fill {
                background-color: $green100;
            }
        }
        .green-2 {
            .color-fill {
                background-color: $green200;
            }
        }
        .green-3 {
            .color-fill {
                background-color: $green300;
            }
        }
        .green-4 {
            .color-fill {
                background-color: $green400;
            }
        }
        .green-5 {
            .color-fill {
                background-color: $green500;
            }
        }
        .green-6 {
            .color-fill {
                background-color: $green600;
            }
        }
        .green-7 {
            .color-fill {
                background-color: $green700;
            }
        }
        .green-8 {
            .color-fill {
                background-color: $green800;
            }
        }
        .green-9 {
            .color-fill {
                background-color: $green900;
            }
        }


        .teal-1 {
            .color-fill {
                background-color: $teal100;
            }
        }
        .teal-2 {
            .color-fill {
                background-color: $teal200;
            }
        }
        .teal-3 {
            .color-fill {
                background-color: $teal300;
            }
        }
        .teal-4 {
            .color-fill {
                background-color: $teal400;
            }
        }
        .teal-5 {
            .color-fill {
                background-color: $teal500;
            }
        }
        .teal-6 {
            .color-fill {
                background-color: $teal600;
            }
        }
        .teal-7 {
            .color-fill {
                background-color: $teal700;
            }
        }
        .teal-8 {
            .color-fill {
                background-color: $teal800;
            }
        }
        .teal-9 {
            .color-fill {
                background-color: $teal900;
            }
        }


        .blue-1 {
            .color-fill {
                background-color: $blue100;
            }
        }
        .blue-2 {
            .color-fill {
                background-color: $blue200;
            }
        }
        .blue-3 {
            .color-fill {
                background-color: $blue300;
            }
        }
        .blue-4 {
            .color-fill {
                background-color: $blue400;
            }
        }
        .blue-5 {
            .color-fill {
                background-color: $blue500;
            }
        }
        .blue-6 {
            .color-fill {
                background-color: $blue600;
            }
        }
        .blue-7 {
            .color-fill {
                background-color: $blue700;
            }
        }
        .blue-8 {
            .color-fill {
                background-color: $blue800;
            }
        }
        .blue-9 {
            .color-fill {
                background-color: $blue900;
            }
        }


        .indigo-1 {
            .color-fill {
                background-color: $indigo100;
            }
        }
        .indigo-2 {
            .color-fill {
                background-color: $indigo200;
            }
        }
        .indigo-3 {
            .color-fill {
                background-color: $indigo300;
            }
        }
        .indigo-4 {
            .color-fill {
                background-color: $indigo400;
            }
        }
        .indigo-5 {
            .color-fill {
                background-color: $indigo500;
            }
        }
        .indigo-6 {
            .color-fill {
                background-color: $indigo600;
            }
        }
        .indigo-7 {
            .color-fill {
                background-color: $indigo700;
            }
        }
        .indigo-8 {
            .color-fill {
                background-color: $indigo800;
            }
        }
        .indigo-9 {
            .color-fill {
                background-color: $indigo900;
            }
        }


        .purple-1 {
            .color-fill {
                background-color: $purple100;
            }
        }
        .purple-2 {
            .color-fill {
                background-color: $purple200;
            }
        }
        .purple-3 {
            .color-fill {
                background-color: $purple300;
            }
        }
        .purple-4 {
            .color-fill {
                background-color: $purple400;
            }
        }
        .purple-5 {
            .color-fill {
                background-color: $purple500;
            }
        }
        .purple-6 {
            .color-fill {
                background-color: $purple600;
            }
        }
        .purple-7 {
            .color-fill {
                background-color: $purple700;
            }
        }
        .purple-8 {
            .color-fill {
                background-color: $purple800;
            }
        }
        .purple-9 {
            .color-fill {
                background-color: $purple900;
            }
        }


        .pink-1 {
            .color-fill {
                background-color: $pink100;
            }
        }
        .pink-2 {
            .color-fill {
                background-color: $pink200;
            }
        }
        .pink-3 {
            .color-fill {
                background-color: $pink300;
            }
        }
        .pink-4 {
            .color-fill {
                background-color: $pink400;
            }
        }
        .pink-5 {
            .color-fill {
                background-color: $pink500;
            }
        }
        .pink-6 {
            .color-fill {
                background-color: $pink600;
            }
        }
        .pink-7 {
            .color-fill {
                background-color: $pink700;
            }
        }
        .pink-8 {
            .color-fill {
                background-color: $pink800;
            }
        }
        .pink-9 {
            .color-fill {
                background-color: $pink900;
            }
        }
    }
}
 



      