.typography {
    color: $white;
    margin-top: 47px;
    margin-bottom: 100px;
    &-title {
        font-size: $fontSize128;
        font-weight: $fontWeightNormal;
    }
    &-hero {
        .hero-hint {
            font-size: $fontSize32;
            font-weight: $fontWeight300;
            padding: 30px 0;
        }
        .hero-title {
            font-size: $fontSize40;
            font-weight: $fontWeightNormal;
            padding-bottom: 10px;
        }
        .hero-text {
            font-size: $fontSize32;
            width: 1004px;
            font-weight: $fontWeight300;
            letter-spacing: 0.51px;
            line-height: 44.79px;
            padding: 20px 0;
        }
        .hero-link {
            width: 1004px;
            display: block;
            letter-spacing: 0.96px;
            color: $white;
            padding: 10px 0;
            font-size: $fontSize16;
        }
        .scroll-down {
            text-align: center;
            font-size: $fontSize20;
            color: $white;
            a {
                display: block;
                color: $white;
                font-size: $fontSize12;
            }
            i {
                padding: 10px;
            }
        }
    }
    .heading {
        &-title {
            font-size: $fontSize60;
            font-weight: $fontWeightNormal;
            padding: 20px 0;
        }
        &-1-align-model {
            @include flex(row);
            font-size: $fontSize28-83;
            border-bottom: 1px solid $gray;
            padding-bottom: 10px;
            .left-align {
                text-align: left;
                &-title {
                    font-size: $fontSize24;
                    font-weight: 600;
                    padding: 25px 0;
                }
                .h1-name {
                    font-size: $fontSize32;
                    font-weight: $fontWeight300;
                    padding: 20px 0;
                }
                &-text-bold {
                    width: 324px;
                    letter-spacing: 1.73px;
                    font-weight: $fontWeightBold;
                    padding: 20px 0;
                }
                &-text-normal {
                    width: 324px;
                    letter-spacing: 1.73px;
                    font-weight: $fontWeightNormal;
                    padding: 20px 0;
                }
                &-text-lighter {
                    width: 324px;
                    letter-spacing: 1.73px;
                    font-weight: $fontWeight300;
                    padding: 20px 0;
                }
            }
            .center-align {
                text-align: center;
                padding: 0 15px;
                &-title {
                    @extend .left-align-title;
                }
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
            .right-align {
                text-align: right;
                &-title {
                    @extend .left-align-title;
                }
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
        }
        &-2-align-model {
            @include flex(row);
            border-bottom: 1px solid $gray;
            padding-bottom: 10px;
            .left-align {
                text-align: left;
                .h2-name {
                    font-size: $fontSize32;
                    font-weight: $fontWeight300;
                    padding: 20px 0;
                }
                &-text-bold {
                    width: 324px;
                    font-size: $fontSize25-63;
                    letter-spacing: 1.54px;
                    font-weight: $fontWeightBold;
                    padding: 20px 0;
                }
                &-text-normal {
                    width: 324px;
                    font-size: $fontSize25-63;
                    letter-spacing: 1.54px;
                    font-weight: $fontWeightNormal;
                    padding: 20px 0;
                }
                &-text-lighter {
                    width: 324px;
                    font-size: $fontSize25-63;
                    letter-spacing: 1.54px;
                    font-weight: $fontWeight300;
                    padding: 20px 0;
                }
            }
            .center-align {
                text-align: center;
                padding: 0 15px;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
            .right-align {
                text-align: right;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
        }
        &-3-align-model {
            @include flex(row);
            border-bottom: 1px solid $gray;
            padding-bottom: 10px;
            .left-align {
                text-align: left;
                .h3-name {
                    font-size: $fontSize32;
                    font-weight: $fontWeight300;
                    padding: 20px 0;
                }
                &-text-bold {
                    font-size: $fontSize22-78;
                    font-weight: $fontWeightBold;
                    padding: 20px 0;
                    letter-spacing: 1.37px;
                    width: 324px;
                }
                &-text-normal {
                    font-size: $fontSize22-78;
                    font-weight: $fontWeightNormal;
                    padding: 20px 0;
                    letter-spacing: 1.37px;
                    width: 324px;
                }
                &-text-lighter {
                    font-size: $fontSize22-78;
                    font-weight: $fontWeight300;
                    padding: 20px 0;
                    letter-spacing: 1.37px;
                    width: 324px;
                }
            }
            .center-align {
                text-align: center;
                padding: 0 15px;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
            .right-align {
                text-align: right;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
        }
        &-4-align-model {
            @include flex(row);
            border-bottom: 1px solid $gray;
            padding-bottom: 10px;
            text-align: left;
            .left-align {
                .h4-name {
                    font-size: $fontSize32;
                    font-weight: $fontWeight300;
                    padding: 20px 0;
                }
                &-text-bold {
                    font-size: $fontSize20-25;
                    font-weight: $fontWeightBold;
                    letter-spacing: 1.22px;
                    padding: 20px 0;
                    width: 324px;
                }
                &-text-normal {
                    font-size: $fontSize20-25;
                    font-weight: $fontWeightNormal;
                    letter-spacing: 1.22px;
                    padding: 20px 0;
                    width: 324px;
                }
                &-text-lighter {
                    font-size: $fontSize20-25;
                    font-weight: $fontWeight300;
                    letter-spacing: 1.22px;
                    padding: 20px 0;
                    width: 324px;
                }
            }
            .center-align {
                text-align: center;
                padding: 0 15px;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
            .right-align {
                text-align: right;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
        }
        &-5-align-model {
            @include flex(row);
            border-bottom: 1px solid $gray;
            padding-bottom: 10px;
            .left-align {
                text-align: left;
                .h5-name {
                    font-size: $fontSize32;
                    font-weight: $fontWeight300;
                    padding: 20px 0;
                }
                &-text-bold {
                    font-size: $fontSize18;
                    font-weight: $fontWeightBold;
                    letter-spacing: 1.08px;
                    padding: 20px 0;
                    width: 324px;
                }
                &-text-normal {
                    font-size: $fontSize18;
                    font-weight: $fontWeightNormal;
                    letter-spacing: 1.08px;
                    padding: 20px 0;
                    width: 324px;
                }
                &-text-lighter {
                    font-size: $fontSize18;
                    width: 324px;
                    font-weight: $fontWeight300;
                    letter-spacing: 1.08px;
                    padding: 20px 0;
                }
            }
            .center-align {
                text-align: center;
                padding: 0 15px;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
            .right-align {
                text-align: right;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
        }
        .paragraph-align-model {
            @include flex(row);
            border-bottom: 1px solid $gray;
            padding-bottom: 10px;
            .left-align {
                text-align: left;
                .para-name {
                    font-size: $fontSize32;
                    font-weight: $fontWeightNormal;
                    padding: 20px 0;
                }
                &-text-bold {
                    font-size: $fontSize16;
                    letter-spacing: 0.96px;
                    width: 325px;
                    font-weight: $fontWeightBold;
                    padding: 20px 0;
                }
                &-text-normal {
                    font-size: $fontSize16;
                    letter-spacing: 0.96px;
                    width: 325px;
                    font-weight: $fontWeightNormal;
                    padding: 20px 0;
                }
                &-text-lighter {
                    font-size: $fontSize16;
                    letter-spacing: 0.96px;
                    width: 325px;
                    font-weight: $fontWeight300;
                    padding: 20px 0;
                }
            }
            .center-align {
                text-align: center;
                padding: 0 15px;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
            .right-align {
                text-align: right;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
        }
        .small-align-model {
            @include flex(row);
            border-bottom: 1px solid $gray;
            padding-bottom: 10px;
            .left-align {
                text-align: left;
                .small-name {
                    font-size: $fontSize32;
                    font-weight: $fontWeightNormal;
                    padding: 20px 0;
                }
                &-text-bold {
                    display: inline-block;
                    font-size: $fontSize14-22;
                    width: 325px;
                    letter-spacing: 0.85px;
                    padding: 20px 0;
                    font-weight: $fontWeightBold;
                }
                &-text-normal {
                    display: inline-block;
                    font-size: $fontSize14-22;
                    width: 325px;
                    letter-spacing: 0.85px;
                    padding: 20px 0;
                    font-weight: $fontWeightNormal;
                }
                &-text-lighter {
                    display: inline-block;
                    font-size: $fontSize14-22;
                    width: 325px;
                    letter-spacing: 0.85px;
                    padding: 20px 0;
                    font-weight: $fontWeight300;
                }
            }
            .center-align {
                text-align: center;
                padding: 0 15px;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
            .right-align {
                text-align: right;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
        }
        .tiny-align-model {
            @include flex(row);
            .left-align {
                text-align: left;
                .tiny-name {
                    font-size: $fontSize32;
                    font-weight: $fontWeightNormal;
                    padding: 20px 0;
                }
                &-text-bold {
                    display: inline-block;
                    font-size: $fontSize12-64;
                    letter-spacing: 0.76px;
                    width: 325px;
                    padding: 20px 0;
                    font-weight: $fontWeightBold;
                }
                &-text-normal {
                    display: inline-block;
                    font-size: $fontSize12-64;
                    letter-spacing: 0.76px;
                    width: 325px;
                    padding: 20px 0;
                    font-weight: $fontWeightNormal;
                }
                &-text-lighter {
                    display: inline-block;
                    font-size: $fontSize12-64;
                    letter-spacing: 0.76px;
                    width: 325px;
                    padding: 20px 0;
                    font-weight: $fontWeight300;
                }
            }
            .center-align {
                text-align: center;
                padding: 0 15px;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter;
                }
            }
            .right-align {
                text-align: right;
                &-text-bold {
                    padding-top: 100px;
                    @extend .left-align-text-bold;
                }
                &-text-normal {
                    @extend .left-align-text-normal;
                }
                &-text-lighter {
                    @extend .left-align-text-lighter ;
                }
            }
        }
    }
} 