$white: #FFFFFE;
$black: #000000;
$gray: #707070;
$gridFill: #9EAFC1;
$sidebarFill: #1A2630;
// font weight 
$fontWeight300: 300;
$fontWeightNormal: normal;
$fontWeightBold: 600;
//font family
$familyArial: Arial, Helvetica, sans-serif;
$familyLato: 'Lato', sans-serif;